<mat-card-title>
  1から100までの数字をひとつ入力してください
</mat-card-title>
<mat-card-content>
  <p class="error-message" *ngIf="hasError">1から100までの数字を入力してください</p>
  <form class="input-field" (ngSubmit)="result.execute()">
    <mat-form-field>
      <input type="number" matInput name="input-number" [(ngModel)]="inputedNumber" placeholder="1～100" />
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary">計算</button>
    </mat-card-actions>
  </form>
  <app-result #result [inputedNumber]="inputedNumber" (hasError)="errorStatusListener($event)"></app-result>
</mat-card-content>